
    <div class="col">
        <div class="row m-3">
            <div class="col-md-8 p-0">
                <h2>Liste des articles</h2>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <app-button-action (clickEvent)="nouvelArticle()"></app-button-action>
            </div>
        </div>
        
        <div class="card row m-3">
            <table class="table">
                <thead class="thead-light"> 
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col"></th>
                    <th scope="col">Code article</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Prix HT</th>
                    <th scope="col">Prix TTC</th>
                    <th scope="col">Taux TVA</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">action</th>
            
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor ="let article of listArticles">
                    <th scope="row" >{{article.id}}</th>
                    <td>{{article.photo}}</td>
                    <td>{{article.codeArticle}}</td>
                    <td>{{article.designation}}</td>
                    <td>{{article.prixUnitaireHt }}</td>
                    <td>{{article.prixUnitaireTtc }}</td>
                    <td>{{article.tauxTva }}</td>
                    <td>{{article.category.designation }}</td>
                    <td>
                    <button type="button" class="btn btn-link">  <i class="fas fa-pencil-alt"></i>&nbsp;</button>
                    <button type="button" class="btn btn-link"><i class="fas fa-trash-alt"></i>&nbsp;</button>
                </td>
                   
                  </tr>
                </tbody>
              </table>
            
              
              
        </div>
    
        <router-outlet></router-outlet>
    </div>
    